---
layout: archive
title: "Research"
permalink: /portfolio/
author_profile: true
---


Symmetry very often plays a fundamental role when humans engineer a device to perform a given function. However, natural structures like complex biological systems optimize functionality not necessarily through symmetry. During my research career, I have explored different approaches to enhance the interaction between light and matter exploiting disorder and asymmetry in nanophotonic structures. I have analyzed the role of fabrication imperfections in a wide range of structures and I have demonstrated how disorder can be used as a resource instead of being simply a nuisance. My research activity represents the merging of quantum optics and mesoscopic physics and, in the present, I am exploring the role of mechanical vibrations at the nanoscale – phonons – in the interaction between light and matter.

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

