---
layout: archive
title: "Open positions"
permalink: /talks/
author_profile: true
---

In March 2023 we will start a 4-year EU Pathfinder project on integrated and programmable photonic circuits (Neuropic - Nano electro-optomechanical programmable integrated circuits for neuromoprphic computing) coordinated by the Material Science Institute in Madrid in collaboration with the Department of Electrical and Photonics Engineering at the DTU (Copenhagen) and the Catalan Institute for Nanoscience and Nanotechnology (Barcelona) and other research institutes and small companies located in Ireland and Germany. Our main goal is to design, build, measure, and explore a fully controllable real hardware for neuromorphic computing based on novel photonic chip architecture with transformational impact potential on photonics for data centers, autonomous vehicles, quantum information processors, and much more. 



{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
